.app-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
  .col-md-3 {
    width: 40% !important;
  }
  .col-md-9 {
    width: 60% !important;
  }
}

@media (max-width: 576px) {
  .col-md-3 {
    width: 100% !important;
    height: 30vh !important;
  }
  .col-md-9 {
    width: 100% !important;
    height: 70vh !important;
  }
}